<header>
  <nav>
    <div class="logo">StoreA</div>

    <button class="menu-toggle" id="menu-toggle">☰</button>

    <!-- Navigation Links -->
    <ul class="nav-links" id="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/features">Features</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login">Customer Portal</a></li>
      <li><a routerLink="/contact" class="schedule-demo">Schedule a Demo</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
